<!DOCTYPE html>

<html>
  <head>
    <title>Mike Lightz Backend Portfolio</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>Mike Lightz Backend Portfolio</h1>
    <hr />
    <div class="container">
      <h3>Projects:</h3>
      <ul>
        <li><a href="/timestamp">Timestamp Microservice</a></li>
        <li><a href="/requestheaderparser">Request Header Parser</a></li>
        <li><a href="/urlshortener">URL Shortener</a></li>
        <li><a href="/exercisetracker">Exercise Tracker</a></li>
      </ul>
    </div>
    <div class="footer">
      <p>By <a href="https://mikelightz.netlify.app/">Mike Lightz</a></p>
    </div>
  </body>
</html>
